{% extends 'TemplateFront.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
<div class="hero-wrap js-fullheight" >
    <div class="overlay"></div>
    <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
    <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Login</h1>
    <section class="pt-4">
    <div class="row">

    <div class="container centered">
        <form method="post" class="contact__form">
    <h1>Réinitialisation du mot de passe</h1>
    <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
            <div class="col-lg-8 col-md-8 d-flex justify-content-center">
        <label for="inputPassword">Password</label>
            </div>
            <div>
        <input type="password" name="password" class="form-control bg-transparent justify-content-center" id="inputPassword" placeholder="Mot de passe" required>
        <input type="hidden" name="token" value="{{ token }}">
            </div>
                <div>
        <button type="submit" class="btn btn-primary justify-content-center" id="valider">
            Valider le mot de passe
        </button>
                </div>
            </div>
    </form>
    </div>
    </div>
    </section>
    </div>
    </div>
    </div>
</div>
{% endblock %}