{% extends 'TemplateFront.html.twig' %}

{% block title %}Reclamation Add{% endblock %}

{% block body %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
        {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn-success">Créer </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
