{% extends 'base.html.twig' %}

{% block title %}Edit Like{% endblock %}

{% block body %}
    <h1>Edit Like</h1>

    {{ include('like/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('like_index') }}">back to list</a>

    {{ include('like/_delete_form.html.twig') }}
{% endblock %}
