.errorr2{
    color: red!important;
    position: relative;
    bottom: 35px ;
    left: 280px;
}
.validd2{
    color: #ff9800!important;
    position: relative;
    bottom: 35px ;
    left: 280px;
}
.errorr1{
    color: red!important;
    position: relative;
    bottom: 35px ;
    left: 280px;
}
.validd1{
    color: #ff9800!important;
    position: relative;
    bottom: 35px ;
    left: 280px;
}
.errorr3{
    color: red!important;
    position: relative;
    bottom: 35px ;
    left: 615px;
}
.validd3{
    color: #ff9800!important;
    position: relative;
    bottom: 35px ;
    left: 615px;
}


